
New Unity Project/Temp/

New Unity Project/.vs/

New Unity Project/Library/

Docs/Spesifications and Reports/Final Report/New versions/~$nal_Report_v3.1(baran).docx

UnityFor2018/.vs/

UnityFor2018/Library/

UnityFor2018/obj/Debug/

UnityFor2018/obj/

UnityFor2018/Temp/

*.csproj

*.sln
